.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.radioBtn {
    margin-left: 5px;
}

.ag-header-cell-label {
    justify-content: center;
 }
