<mat-tab-group mat-stretch-tabs class="group mat-elevation-z4">
    <mat-tab label="Base ativa">
        <div class="content">
            <app-dynamic-table *ngIf="data" [dados]="data" [labels]="labels"></app-dynamic-table>
        </div>
    </mat-tab>
    <mat-tab label="Potencial">
        <div class="content">
            <app-dynamic-table *ngIf="data" [dados]="data" [labels]="labels"></app-dynamic-table>
        </div>
    </mat-tab>
    <mat-tab label="Ganhos clientes">
        <div class="content">
            <app-dynamic-table *ngIf="data" [dados]="data" [labels]="labels"></app-dynamic-table>
        </div>
    </mat-tab>
    <mat-tab label="Perdas clientes">  </mat-tab>
    <mat-tab label="Fat. Pedidos">  </mat-tab>
    <mat-tab label="Fat. Utilização">  </mat-tab>
    <mat-tab label="Total de propostas">  </mat-tab>
    <mat-tab label="Clientes em ativação">  </mat-tab>
    <mat-tab label="Clientes em negociação"> </mat-tab>
    <mat-tab label="Clientes declinados">  </mat-tab>
</mat-tab-group>