body {
    margin: 10px;
}
  
.mat-form-field {
    font-size: 14px;
}

.full {
    width: 100%;
}

.linkData {
    color: #000000; /* Change this with links color*/
    cursor: pointer;
    text-decoration: underline;
}

.linkData:hover {
    color: blue;
} 

.card {
    height: 45px;
    margin-bottom: 10px ;
    display: flex;
    justify-content: center;

    .card-body {
        margin-bottom: 25px;
    }
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    background-color: #ffffffff;
    max-height: 768px;
    max-width: 1024px;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    vertical-align: middle;
}